@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Bem-vindo à nossa plataforma de notícias de jogos!</h1>
    <p>
        Estamos aqui para trazer as últimas novidades, análises e informações sobre o mundo dos jogos. Prepare-se para mergulhar em análises detalhadas, entrevistas exclusivas com desenvolvedores, cobertura de eventos e muito mais. Queremos garantir que você fique por dentro de tudo o que está acontecendo no universo dos jogos. Seja bem-vindo!
    </p>
    
</div>

<div class="text-center">
    <h1 class="display-4">
        Top 3 Lugares Mais Bizarros Para Jogar Doom
    </h1>
    
</div>
<div class="text-center">
    <h2>Batatas</h2>
    <a href="https://www.youtube.com/watch?v=KFDlVgBMomQ&t=">https://www.youtube.com/watch?v=KFDlVgBMomQ&t=</a>
</div>
<div class="text-center">
    <h2>Câmera digital de 98</h2>
    <a href="https://www.youtube.com/watch?v=7gCZZkBATSc">https://www.youtube.com/watch?v=7gCZZkBATSc</a>
</div>
<div class="text-center">
    <h2>Scanner de ultrassom</h2>
    <a href="https://www.youtube.com/watch?v=xlxfWQ8EQZU">https://www.youtube.com/watch?v=xlxfWQ8EQZU</a>
</div>
