@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
</div>
<div class="mb-3">
    <label for="emailInput" class="form-label">Email</label>
    <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="passwordInput" class="form-label">Senha</label>
    <input type="password" class="form-control" id="passwordInput" placeholder="*">
</div>
<button onclick="LoginFalso()" class="btn btn-primary">Enviar</button>

<script>
    function LoginFalso() {
        document.getElementById("emailInput").value = "";
        document.getElementById("passwordInput").value = "";
    }
</script>
