@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sobre nós</h1>
    <p>
        Bem-vindo ao "MikeGames" - o seu portal definitivo para todas as notícias, análises e curiosidades sobre o mundo dos jogos! Aqui, no MikeGames,
        nossa equipe dedicada está empenhada em trazer a você as últimas novidades e informações sobre seus jogos favoritos,
        além de explorar os aspectos mais interessantes e cativantes do universo dos videogames.</p>

    <p>
        Nossa equipe de redatores, composta por entusiastas ávidos e experientes do mundo dos jogos,
        está constantemente monitorando as tendências e acontecimentos mais recentes para fornecer a você conteúdo relevante e envolvente.
    Seja você um jogador casual, um aficionado hardcore ou apenas alguém curioso sobre o mundo dos games, você encontrará algo especial no MikeGames.</p>

    <p>
        Além das notícias e análises, também oferecemos uma variedade de conteúdos divertidos e informativos, incluindo curiosidades sobre jogos,
        entrevistas exclusivas com desenvolvedores, guias para iniciantes e muito mais.
        Nosso objetivo é construir uma comunidade vibrante e apaixonada em torno de nossa paixão compartilhada pelos videogames.
    </p>
</div>
